@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  max-width: 1440px;
  background-color: #818181;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #000; }

a:hover, a:visited, a:focus {
  color: #000; }

.roboto-regular, header h1, main section .todolist .add label, main section .todolist .add input[type=submit], main section .todolist .list ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; }

header {
  width: auto;
  height: 100px;
  padding: 50px;
  background-color: #000; }
  header h1 {
    font-size: 2rem;
    color: #fff; }

main {
  width: 100%;
  min-height: 500px;
  background-color: #fff; }
  main section {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    main section .todolist {
      width: 600px;
      display: flex;
      flex-direction: column;
      border: 1px solid #c0c0c0;
      margin: 50px 0px; }
      @media (max-width: 640px) {
        main section .todolist {
          width: 400px; } }
      main section .todolist .header {
        height: 200px;
        padding: 10px 20px;
        background-image: url(../../assets/images/todolist.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        @media (max-width: 640px) {
          main section .todolist .header {
            height: 100px; } }
      main section .todolist .add {
        display: flex;
        flex-direction: row;
        padding: 10px 20px; }
        @media (max-width: 640px) {
          main section .todolist .add {
            flex-direction: column; } }
        main section .todolist .add label {
          font-size: 1rem;
          color: #000;
          padding: 5px 5px; }
        main section .todolist .add input {
          width: 400px;
          height: 25px;
          margin-bottom: 10px; }
          @media (max-width: 640px) {
            main section .todolist .add input {
              width: 360px; } }
          main section .todolist .add input[type=submit] {
            width: 150px;
            height: 28px;
            margin: 0px auto;
            border: 1px solid #c0c0c0;
            font-size: 1rem;
            color: #000;
            background-color: #c0c0c0;
            transition: all 0.8s; }
            main section .todolist .add input[type=submit]:hover {
              background-color: #87fd98;
              border: 1px solid #87fd98;
              transition: all 0.8s; }
            @media (max-width: 640px) {
              main section .todolist .add input[type=submit] {
                margin: 0;
                width: 363px; } }
      main section .todolist .list {
        height: 300px;
        overflow-y: scroll;
        scrollbar-color: #c0c0c0 #fff;
        scrollbar-width: thin; }
        main section .todolist .list ul {
          width: 550px;
          height: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 50px 0px;
          margin: 0 auto; }
          main section .todolist .list ul .checked {
            background-color: #87fd98; }
          @media (max-width: 640px) {
            main section .todolist .list ul {
              width: 350px; } }
          main section .todolist .list ul li {
            list-style: none;
            width: 550px;
            min-height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid #c0c0c0;
            background-color: #f0f0f0;
            border-radius: 25px;
            margin-bottom: 10px;
            padding: 0px 1px;
            text-transform: lowercase; }
            @media (max-width: 640px) {
              main section .todolist .list ul li {
                width: 350px; } }
            main section .todolist .list ul li:hover {
              background-color: #87fd98; }
            main section .todolist .list ul li input[type=checkbox] {
              height: 0;
              width: 0;
              visibility: hidden; }
              main section .todolist .list ul li input[type=checkbox]:checked + label {
                background-color: #87fd98; }
            main section .todolist .list ul li label {
              width: calc(550px - 25px);
              display: flex;
              align-items: center;
              overflow: hidden; }
              @media (max-width: 640px) {
                main section .todolist .list ul li label {
                  width: 350px; } }
            main section .todolist .list ul li button {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-right: 5px;
              border: 1px solid #c0c0c0;
              background-color: #fff;
              cursor: pointer; }
              main section .todolist .list ul li button:hover {
                background-color: red;
                color: #fff; }

footer {
  width: auto;
  height: 100px;
  padding: 50px;
  background-color: #000; }

/*# sourceMappingURL=style.css.map */
